*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}
main{
    margin: 0 20px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.input{
    display: flex;
    gap: 20px;
}
input{
    padding: 2px;
}
button{
    width: min-content;
    padding: 10px 20px;
}
label{
    line-height: 1.3;
}
.error{
    color: red;
    margin-left: 60px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  vertical-align: top;
}

th {
  background-color: #f2f2f2;
}

img {
  max-width: 60px;
  height: auto;
}
