*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    border-collapse:collapse
}
.app{
    height: 100vh;
}
header{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
    border-bottom: none;
}
header img{
    height: 30px;
}
header #name, #tab{
    margin: 0 10px;
    font-weight: bold;
}
header #tab{
    color: rgb(43, 17, 208);
}
main{
    border: 2px solid black;
    padding: 30px;
    border-bottom: none;
}
select{
    width: 180px;
}
main form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}
.input{
    display: flex;
    margin-bottom: 10px;
}
.input label{
    width: 150px;
    font-weight: 700;
}
.input input,.input select{
    padding: 4px;
}
.buttons{
    margin-top: 20px;
}
.buttons button{
    padding: 5px 7px;
    width: 80px;
    text-align: start;
    background-color: white;
    border: 1px solid #9e9b9b;
    color: #666;
}
footer{
    padding: 10px;
    border: 2px solid black;
}
.error{
    color: red;
    margin-left: 150px;
}
#info div{
    display: inline-block;
    width: 150px;
    font-weight: 700;
}